
.App {
  max-width: 1440px;
  margin: auto;
  font-family: 'Poppins' sans-serif;
}

.section {
  margin-top: 50px ;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}

/* HELP SECTION */
.help-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: antiquewhite;
  padding-right: 16px;
  padding-left: 16px;
}

.help-rest-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.our-store {
  display: flex;
}
.track-order {
  display: flex;

}

/* NAVBAR */

.navbar-container {
  width: 100%;
  background-color: #003F62;
  
}
.navbar-3-flex {
  display: flex;
  width: 33%;
  
}

/* NAVBAR REST FLEX */

.navbar-rest-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.navbar-sign-in > a {
  color: white;
}

/* SUBMENU HERE */

.submenu-container {
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
}




/* Menu bar under Navbar */

.cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.Card {
  width: 25%;
}

/* CARDS */



/* SMALL CARD */

.small-card-inside-flex {
  display: flex;
  align-items: center;
  border: 2px grey solid;
  border-radius: 20px;
  width: 300px;
}
.smallCard {
  display: flex;
  
}



/* PROMOTE SECTION HERE */

.promote-inner {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* end yaj gapguigeer zai awahiig bagshaas asuu */
}
.promote-left {
  width: 20%;
}
.promote-right {
  width: 20%;
}

.promote-btns {
}







/* SALE SECTION STARTS HERE */

/* .sale-container {
  display: flex;
  margin: auto;
} */
