/* Global */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.App {
  max-width: 1440px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}





/* HELP SECTION */
.help-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-right: 16px;
  padding-left: 16px;
}

.help-rest-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.our-store {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.out-store > a {
  color: black;
}

.track-order {
  display: flex;
  justify-content: space-between;
  width: 46%;

}





/* NAVBAR */

.navbar-container {
  width: 100vw;
  background-color: #003F62;

}

.navbar-3-flex {
  display: flex;
  width: 33%;
  margin-left: 100px;

}




/* NAVBAR REST FLEX */

.navbar-rest-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  margin-right: 100px;
}

.navbar-sign-in>a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}





/* SUBMENU HERE */

.submenu-container {
  display: flex;
  justify-content: space-between;
  background-color: #F4F4F4;
  padding-right: 60px;
  padding-left: 60px;
}
.submenu-text {
  color: #003F62;
  font-size: 16px;
  font-weight: bold;
}




/* Menu bar under Navbar */



/* CARDS */



/* SMALL CARD */

.small-card-container {
  gap: 100px;
  display: flex;
} 

.small-card-inside-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px grey solid;
  border-radius: 20px;
  width: 381.63px;
  height: 147px;
}

.smallCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;

}

.small-card-inside-flex>div>h2 {
  font-size: 23.38px;
  color: #003F62;
}

.small-card-inside-flex>div>h3 {
  font-size: 17.09px;
  color: #4A4A4A;
}





/* PROMOTE SECTION HERE */

.promote-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* end yaj gapguigeer zai awahiig bagshaas asuu */
}

.promote-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.promote-left > h2 {
  width: 40%;
  color: #1B5A7D;
  font-size: 43px;
  font-weight: bold;
}

.promote-right {
  width: 40%;
}

.promote-btns {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
}






/* POPULAR PRODCUT SECTION */

.popular-product>h1 {
  color: #1B5A7D;
  font-size: 27.38px;
}
.popular-card {
  width: 308.83px;
  height: 313.75px;
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}


.popular-flex {
  border: 2px black solid;
  border-radius: 20px;
}

.popular-flex > div > h2 {
  color: #003F62;
  font-size: 17.0px;
}
.popular-flex > div > h3 {
  color: #4A4A4A;
  font-size: 17.0px;
}

.popular-flex > div {
  padding: 20px;
}
/* .popular-flex > img {
  padding: 20px;
  display: flex;;
} */
.popular-card-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}





/* SALE SECTION STARTS HERE */

/* .sale-container {
  display: flex;
  margin: auto;
} */




/* slider img width */


.promote-right > img {
  width: 400px;
}